



$font-stack: font-family 'PT Sans Narrow', sans-serif;
$primary-color: #87837f;
$second-color: #ffffff;
$footer-bg: #212121;


@import "../../node_modules/normalize.scss/normalize";
@import "modules/header";
@import "modules/calc_body";
@import "modules/footer";
//@import "modules/keyframes";








